


<!--figure container-->
<div class="figureContainer">
  <figure>

    <img class="detailImg" ng-src="{{ jCtrl.jobDetails.img }}">

      <figcaption>
        <h1 class="detailName">{{ jCtrl.jobDetails.name }}</h1>


      </figcaption>
            <div class="figsubcaption"><h2>{{ jCtrl.jobDetails.city }}, {{jCtrl.jobDetails.state}}</h2></div>
    </figure>

  </div>



  <div class="container-fluid">
    <div class="row content">
      <!--sidenav-->
      <div class="col-sm-2 sidenav" ng-controller="activityController as aCtrl">

        <h4 ng-hide="aCtrl.selected.method">New Activity</h4>
        <h3 ng-show="aCtrl.selected.method">{{ aCtrl.selected.action.label }} {{ aCtrl.selected.material.label | lowercase }} {{ aCtrl.selected.component.label | lowercase }} with {{ aCtrl.selected.method.label | lowercase }}</h3>

        <select ng-options="component as component.label for component in aCtrl.activity.components"
                ng-model ="aCtrl.selected.component">
                <option value="" disabled selected>Component</option>
        </select>

        <select ng-show="aCtrl.selected.component"
                ng-options="material as material.label for material in aCtrl.activity.materials | inArray:aCtrl.selected.component.show:'label'"
                ng-model="aCtrl.selected.material">
                <option value="" disabled selected>Material</option>
        </select>

        <select ng-show="aCtrl.selected.material"
                ng-options="action as action.label for action in aCtrl.activity.actions | inArray:aCtrl.selected.material.show:'label'"
                ng-model ="aCtrl.selected.action">
                <option value="" disabled selected>Action</option>
        </select>

        <select ng-show="aCtrl.selected.action"
                ng-options="method as method.label for method in aCtrl.activity.methods | inArray:aCtrl.selected.action.show:'label'"
                ng-model ="aCtrl.selected.method">
                <option value="" disabled selected>Method</option>
        </select>



        <div class="form-group" ng-show="aCtrl.selected.method">
          <label for="usr">Special Instructions</label>
          <input type="text" class="form-control" id="usr">
        </div>

        <ul class="nav nav-pills nav-stacked">
          <li class="active"><a href="#section1">Home</a></li>
          <li><a href="#section2">Friends</a></li>
          <li><a href="#section3">Family</a></li>
          <li><a href="#section3">Photos</a></li>
        </ul><br>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search Blog..">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
      </div>
      <!--jobsHeader-->
  <!-- EDIT JOB MOTAL and BUTTON -->
      <!-- <div class="jobsHeader">
        <button type="button" class="btn btn-primary btn-lg jobsTopRightButton" data-toggle="modal" data-target="#myModal" style="margin-right:30px;">
         Edit Details
        </button>
        <h1>Job Details</h1>
      </div> -->
   <!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
       <div class="modal-dialog" role="document">
           <div class="modal-content">
               <form>
                   <div class="modal-header">
                       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                       <h4 class="modal-title" id="myModalLabel">Edit Job</h4>
                   </div>
                   <div class="modal-body">

                       <input class="form-control" ng-model="jCtrl.jobDetails.img" placeholder="image url">
                       <input class="form-control" ng-model="jCtrl.jobDetails.name" placeholder="Name">
                       <input class="form-control" ng-model="jCtrl.jobDetails.city" placeholder="City">
                       <input class="form-control" ng-model="jCtrl.jobDetails.state" placeholder="State">
                       <input class="form-control" ng-model="jCtrl.jobDetails.complete" placeholder="Complete">
                       <input class="form-control" ng-model="jCtrl.jobDetails.margin" placeholder="Margin">
                       <input class="form-control" ng-model="jCtrl.jobDetails.fnolDate" placeholder="FNOL Date">
                       <input class="form-control" ng-model="jCtrl.jobDetails.contactName" placeholder="Contact Name">
                       <input class="form-control" ng-model="jCtrl.jobDetails.phoneNumber" placeholder="Phone Number">
                       <input class="form-control" ng-model="jCtrl.jobDetails.localServpro" placeholder="Local Servpro Franchise Name">
                       <input class="form-control" ng-model="jCtrl.jobDetails.localSPInvolvement" placeholder="Local Servpro Franchise Involvement">
                       <input class="form-control" ng-model="jCtrl.jobDetails.phoneNumber" placeholder="Phone Number">

                   </div>
                   <div class="modal-footer">
                       <p class="warning-text">{{jCtrl.jobFormErrMessage}}</p>
                       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                       <button type="button" class="btn btn-primary" data-dismiss="modal">Update</button>
                   </div>
               </form>
           </div>
       </div>
   </div> -->
<!--JOB DETAILS -->
  <ul>

      <h1 ng-click="jCtrl.hideText('jobName', 'editName')" ng-show="!jCtrl.editName">{{ jCtrl.jobDetails.name }}</h1>
      <h1><input id="jobName" placeholder="Enter name..." ng-model="jCtrl.jobDetails.name" ng-blur="jCtrl.blurText('editName')" ng-show="jCtrl.editName" type="text" name="name"/></h1>

      <div class="cityState">
      <span ng-click="jCtrl.hideText('jobAddress', 'editAddress')" ng-show="!jCtrl.editAddress">{{jCtrl.jobDetails.address}}</span><input id="jobAddress" placeholder="Address" ng-model="jCtrl.jobDetails.address" ng-blur="jCtrl.blurText('editAddress', 'address')" ng-show="jCtrl.editAddress" type="text" name="Address"/>
      </div>

      <div class="cityState">
        <span ng-click="jCtrl.hideText('jobCity', 'editCity')" ng-show="!jCtrl.editCity">{{jCtrl.jobDetails.city}}</span><input id="jobCity" placeholder="City" ng-model="jCtrl.jobDetails.city" ng-blur="jCtrl.blurText('editCity', 'city')" ng-show="jCtrl.editCity" type="text" name="city"/>,

      <span ng-click="jCtrl.hideText('jobState', 'editState')" ng-show="!jCtrl.editState">{{jCtrl.jobDetails.state}}</span><input id="jobState" placeholder="State" ng-model="jCtrl.jobDetails.state" ng-blur="jCtrl.blurText('editState', 'state')" ng-show="jCtrl.editState" type="text" name="state"/>

      <span ng-click="jCtrl.hideText('jobZip', 'editZip')" ng-show="!jCtrl.editZip">{{jCtrl.jobDetails.zip}}</span><input id="jobZip" placeholder="Zip" ng-model="jCtrl.jobDetails.zip" ng-blur="jCtrl.blurText('editZip', 'zip')" ng-show="jCtrl.editZip" type="text" name="Zip"/>
      </div>

      <div class="cityState">
      <span ng-click="jCtrl.hideText('jobPhone', 'editPhone')" ng-show="!jCtrl.editPhone">{{jCtrl.jobDetails.phone}}</span><input id="jobPhone" placeholder="Phone" ng-model="jCtrl.jobDetails.phone" ng-blur="jCtrl.blurText('editPhone', 'phone')" ng-show="jCtrl.editPhone" type="text" name="Phone"/>
      </div>


    <div class="col-sm-9">
      <span class="description" ng-click="jCtrl.hideText('jobDescription', 'editDescription')" ng-show="!jCtrl.editDescription">{{jCtrl.jobDetails.description}}</span><textarea id="jobDescription" placeholder="Job description" ng-model="jCtrl.jobDetails.description" ng-blur="jCtrl.blurText('editDescription', 'description')" ng-show="jCtrl.editDescription" type="text" name="Description"/>
    </div>


  </ul>
<!--ZONES-->
<div ng-controller="ZoneController as zCtrl">
  <div class="jobsHeader">
    <button type="button" class="btn btn-primary btn-lg jobsTopRightButton" data-toggle="modal" data-target="#newZoneForm" style="margin-right:30px;">
     New Zone
    </button>
    <h1>Zones</h1>
  </div>



   <!-- Modal -->
   <div class="modal fade" id="newZoneForm" tabindex="-1" role="dialog" aria-labelledby="newZoneFormLabel">
       <div class="modal-dialog" role="document">
           <div class="modal-content">
               <form ng-submit="zCtrl.addZone()">
                   <div class="modal-header">
                       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                       <h4 class="modal-title" id="newZoneFormLabel">Add a Zone!</h4>
                   </div>
                   <div class="modal-body">

                       <input class="form-control" ng-model="zCtrl.newZone.img" placeholder="image url">
                       <input class="form-control" ng-model="zCtrl.newZone.name" placeholder="Name">
                       <input class="form-control" ng-model="zCtrl.newZone.city" placeholder="City">
                       <input class="form-control" ng-model="zCtrl.newZone.state" placeholder="State">
                       <input class="form-control" ng-model="zCtrl.newZone.complete" placeholder="Complete">
                       <input class="form-control" ng-model="zCtrl.newZone.margin" placeholder="Margin">




                   </div>
                   <div class="modal-footer">
                       <p class="warning-text">{{zCtrl.zoneFormErrMessage}}</p>
                       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                       <button type="submit" class="btn btn-primary">Add this Zone</button>
                   </div>
               </form>
           </div>
       </div>
   </div>
   <div class="card" ng-repeat="zone in zCtrl.zones">

     <ul>
       <!-- <li><img class="img-fluid" src="{{ zone.img }}"></li> -->

       <li><a href="/#/jobDetails"><img ng-click="zCtrl.setActiveZone($index)" ng-src="{{ zone.img }}" alt="Card image cap"></a><h3>{{ zone.name }}</h3></li>
         <!-- <span class="row"> -->
           <li><div>{{ zone.city }}, {{ zone.state }}</div></li>
         <!-- </span> -->
         <span class="row">
           <li><div>Margin</div><h2 style="color:rgb(0,{{zone.margin}},0)" id="margin">{{ zone.margin }}%</h2></li>
           <li><div>Complete</div><h2 style="color:rgb(0,{{zone.complete}},0)" id="complete">{{ zone.complete }}%</h2></li>
         </span>
     </ul>
   </div>
</div>
