<div class="figureContainer">
  <figure>

    <img class="detailImg" ng-src="{{ jCtrl.jobDetails.img }}">

      <figcaption>
        <h1 class="detailName">{{ jCtrl.jobDetails.name }}</h1>


      </figcaption>
            <div class="figsubcaption"><h2>{{ jCtrl.jobDetails.city }}, {{jCtrl.jobDetails.state}}</h2></div>
    </figure>

  </div>

  <div class="col-sm-2 sidebar" ng-controller="activityController as aCtrl">
    
    <h4 ng-hide="aCtrl.selected.method">New Activity</h4>
    <h3 ng-show="aCtrl.selected.method">{{ aCtrl.selected.action.label }} {{ aCtrl.selected.material.label | lowercase }} {{ aCtrl.selected.component.label | lowercase }} with {{ aCtrl.selected.method.label | lowercase }}</h3>

    <select ng-options="component as component.label for component in aCtrl.activity.components"
            ng-model ="aCtrl.selected.component">
            <option value="" disabled selected>Component</option>
    </select>

    <select ng-show="aCtrl.selected.component"
            ng-options="material as material.label for material in aCtrl.activity.materials | inArray:aCtrl.selected.component.show:'label'"
            ng-model="aCtrl.selected.material">
            <option value="" disabled selected>Material</option>
    </select>

    <select ng-show="aCtrl.selected.material"
            ng-options="action as action.label for action in aCtrl.activity.actions | inArray:aCtrl.selected.material.show:'label'"
            ng-model ="aCtrl.selected.action">
            <option value="" disabled selected>Action</option>
    </select>

    <select ng-show="aCtrl.selected.action"
            ng-options="method as method.label for method in aCtrl.activity.methods | inArray:aCtrl.selected.action.show:'label'"
            ng-model ="aCtrl.selected.method">
            <option value="" disabled selected>Method</option>
    </select>



    <div class="form-group" ng-show="aCtrl.selected.method">
      <label for="usr">Special Instructions</label>
      <input type="text" class="form-control" id="usr">
    </div>


  </div>
    <div class="col-sm-8 text-left">
      <h1>Welcome</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <hr>
      <h3>Test</h3>
      <p>Lorem ipsum...</p>
    </div>
    <div class="col-sm-2 sidenav">
      <div class="well">
        <p>ADS</p>
      </div>
      <div class="well">
        <p>ADS</p>
      </div>
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>

</body>
</html>
