#box {
   background-color:black;
   color:white;
   padding:10px;
   position:absolute;
   display:block;
   font-family:verdana;
   font-size:20px;
   }
body {
    background-image:url(http://www.lib.utexas.edu/maps/topo/colorado/pclmaps-topo-co-home-1916.jpg);
    width: 940px;
}
