/* ADD YOUR STYLES HERE */

.container {
    width:100%;
    text-align:center;
    top:0;
    
}

.left {
    float:left;
    padding:20px;

}

.center {
    clear:both;
    display: inline-block;
    margin:0 auto;
    padding:20px;

}

.right {
    float:right;
    padding:20px;

}

.verticalCenter {
    padding:100px 0;
}

.menuUl{
  list-style: none;
}

.menuLi{
  display: inline-block;
}

.buttonBg {
   
    height: 40px;
    width: 20%;
    background-color: blue;
    border-radius: 5px;
    color: white;
    border-color: solid black:
    margin:auto;
    text-align: center;
}    

.buttonMd {
   
    padding:60px 60px;
    background-color: blue;
    border-radius: 5px;
    color: white;
    border-color: solid black:
    margin:auto;
    text-align: center;
}
.pinkButton {
    padding: 20px 30px;
    background-color: fuchsia;
    color: white;
    border-radius: 5px;
    float: left;
    text-decoration: none;
}