


<!--figure container-->
<div class="figureContainer">
  <figure>

    <img class="detailImg" ng-src="{{ jCtrl.jobDetails.img }}">

      <figcaption>
        <h1 class="detailName">{{ jCtrl.jobDetails.name }}</h1>


      </figcaption>
            <div class="figsubcaption"> <h2>{{ jCtrl.jobDetails.city }}, {{jCtrl.jobDetails.state}}</h2></div>
    </figure>

  </div>
  <div class="jobsHeader">
    <button type="button" class="btn btn-primary btn-lg jobsTopRightButton" data-toggle="modal" data-target="#myModal" style="margin-right:30px;">
     Edit Details
    </button>
    <h1>Job Details</h1>
  </div>

  <!--sidenav-->
  <div class="container-fluid">
    <div class="row content">
      <div class="col-sm-3 sidenav" ng-controller="activityController as aCtrl">
        <h4>New Activity</h4>

        <select ng-options="component as component.label for component in aCtrl.activity.components" ng-model ="aCtrl.selected.component"><option value="" disabled selected>Component</option>
        </select>

        <select ng-show="aCtrl.selected.component" ng-options="material as material.label for material in aCtrl.activity.materials | inArray:aCtrl.selected.component.show:'label'" ng-model="aCtrl.selected.material"><option value="" disabled selected>Material</option>
        </select>

        <select ng-show="aCtrl.selected.material" ng-options="action as action.label for action in aCtrl.activity.actions | inArray:aCtrl.selected.material.show:'label'" ng-model ="aCtrl.selected.action"><option value="" disabled selected>Action</option>
        </select>

        <select ng-show="aCtrl.selected.action"  ng-options="method as method.label for method in aCtrl.activity.methods | inArray:aCtrl.selected.action.show:'label'" ng-model ="aCtrl.selected.method"><option value="" disabled selected>Method</option>
        </select>

        <h5>{{ aCtrl.selected.action.label }} {{ aCtrl.selected.material.label }} {{ aCtrl.selected.component.label }} {{ aCtrl.selected.method.label }}</h5>

        <ul class="nav nav-pills nav-stacked">
          <li class="active"><a href="#section1">Home</a></li>
          <li><a href="#section2">Friends</a></li>
          <li><a href="#section3">Family</a></li>
          <li><a href="#section3">Photos</a></li>
        </ul><br>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search Blog..">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
      </div>

   <!-- Modal -->
   <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
       <div class="modal-dialog" role="document">
           <div class="modal-content">
               <form>
                   <div class="modal-header">
                       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                       <h4 class="modal-title" id="myModalLabel">Add a Job!</h4>
                   </div>
                   <div class="modal-body">

                       <input class="form-control" ng-model="jCtrl.jobDetails.img" placeholder="image url">
                       <input class="form-control" ng-model="jCtrl.jobDetails.name" placeholder="Name">
                       <input class="form-control" ng-model="jCtrl.jobDetails.city" placeholder="City">
                       <input class="form-control" ng-model="jCtrl.jobDetails.state" placeholder="State">
                       <input class="form-control" ng-model="jCtrl.jobDetails.complete" placeholder="Complete">
                       <input class="form-control" ng-model="jCtrl.jobDetails.margin" placeholder="Margin">
                       <input class="form-control" ng-model="jCtrl.jobDetails.fnolDate" placeholder="FNOL Date">
                       <input class="form-control" ng-model="jCtrl.jobDetails.contactName" placeholder="Contact Name">
                       <input class="form-control" ng-model="jCtrl.jobDetails.phoneNumber" placeholder="Phone Number">
                       <input class="form-control" ng-model="jCtrl.jobDetails.localServpro" placeholder="Local Servpro Franchise Name">
                       <input class="form-control" ng-model="jCtrl.jobDetails.localSPInvolvement" placeholder="Local Servpro Franchise Involvement">
                       <input class="form-control" ng-model="jCtrl.jobDetails.phoneNumber" placeholder="Phone Number">




                   </div>
                   <div class="modal-footer">
                       <p class="warning-text">{{jCtrl.jobFormErrMessage}}</p>
                       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                       <button type="button" class="btn btn-primary" data-dismiss="modal">Update</button>
                   </div>
               </form>
           </div>
       </div>
   </div>
  <ul>
    <!--job details -->
    <h2>Job Name:{{ jCtrl.jobDetails.name }}</h2>
    <h3>{{ jCtrl.jobDetails.city }}, {{jCtrl.jobDetails.state}}</h3>
    <h3>{{ jCtrl.jobDetails.city }}, {{jCtrl.jobDetails.state}}</h3>
  </ul>
<!--ZONES-->
<div ng-controller="ZoneController as zCtrl">
  <div class="jobsHeader">
    <button type="button" class="btn btn-primary btn-lg jobsTopRightButton" data-toggle="modal" data-target="#newZoneForm" style="margin-right:30px;">
     New Zone
    </button>
    <h1>Zones</h1>
  </div>



   <!-- Modal -->
   <div class="modal fade" id="newZoneForm" tabindex="-1" role="dialog" aria-labelledby="newZoneFormLabel">
       <div class="modal-dialog" role="document">
           <div class="modal-content">
               <form ng-submit="zCtrl.addZone()">
                   <div class="modal-header">
                       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                       <h4 class="modal-title" id="newZoneFormLabel">Add a Zone!</h4>
                   </div>
                   <div class="modal-body">

                       <input class="form-control" ng-model="zCtrl.newZone.img" placeholder="image url">
                       <input class="form-control" ng-model="zCtrl.newZone.name" placeholder="Name">
                       <input class="form-control" ng-model="zCtrl.newZone.city" placeholder="City">
                       <input class="form-control" ng-model="zCtrl.newZone.state" placeholder="State">
                       <input class="form-control" ng-model="zCtrl.newZone.complete" placeholder="Complete">
                       <input class="form-control" ng-model="zCtrl.newZone.margin" placeholder="Margin">




                   </div>
                   <div class="modal-footer">
                       <p class="warning-text">{{zCtrl.zoneFormErrMessage}}</p>
                       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                       <button type="submit" class="btn btn-primary">Add this Zone</button>
                   </div>
               </form>
           </div>
       </div>
   </div>
   <div class="card" ng-repeat="zone in zCtrl.zones">

     <ul>
       <!-- <li><img class="img-fluid" src="{{ zone.img }}"></li> -->

       <li><a href="/#/jobDetails"><img ng-click="zCtrl.setActiveZone($index)" ng-src="{{ zone.img }}" alt="Card image cap"></a><h3>{{ zone.name }}</h3></li>
         <!-- <span class="row"> -->
           <li><div>{{ zone.city }}, {{ zone.state }}</div></li>
         <!-- </span> -->
         <span class="row">
           <li><div>Margin</div><h2 style="color:rgb(0,{{zone.margin}},0)" id="margin">{{ zone.margin }}%</h2></li>
           <li><div>Complete</div><h2 style="color:rgb(0,{{zone.complete}},0)" id="complete">{{ zone.complete }}%</h2></li>
         </span>
     </ul>
   </div>
</div>
