
<div class="figureContainer">
  <figure>

    <img class="detailImg" ng-src="{{ jCtrl.jobDetails.img }}">

      <figcaption>
        <h1 class="detailName">{{ jCtrl.jobDetails.name }}</h1>


      </figcaption>
            <div class="figsubcaption"> <h2>{{ jCtrl.jobDetails.city }}, {{jCtrl.jobDetails.state}}</h2></div>
    </figure>

  </div>

  <ul>
    <h2>Job Name:{{ jCtrl.jobDetails.name }}</h2>
    <h3>{{ jCtrl.jobDetails.city }}, {{jCtrl.jobDetails.state}}</h3>
    <h3>{{ jCtrl.jobDetails.city }}, {{jCtrl.jobDetails.state}}</h3>
  </ul>
