
<div>
    <div class="jobsHeader">
      <button type="button" class="btn btn-primary btn-lg jobsTopRightButton" data-toggle="modal" data-target="#myModal" style="margin-right:30px;">
       New Job
      </button>
      <h1>Jobs</h1>
    </div>



     <!-- Modal -->
     <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
         <div class="modal-dialog" role="document">
             <div class="modal-content">
                 <form ng-submit="jCtrl.addJob()">
                     <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                         <h4 class="modal-title" id="myModalLabel">Add a Job!</h4>
                     </div>
                     <div class="modal-body">

                         <input class="form-control" ng-model="jCtrl.newJob.img" placeholder="image url">
                         <input class="form-control" ng-model="jCtrl.newJob.name" placeholder="Name">
                         <input class="form-control" ng-model="jCtrl.newJob.city" placeholder="City">
                         <input class="form-control" ng-model="jCtrl.newJob.state" placeholder="State">
                         <input class="form-control" ng-model="jCtrl.newJob.complete" placeholder="Complete">
                         <input class="form-control" ng-model="jCtrl.newJob.margin" placeholder="Margin">
                         <input class="form-control" ng-model="jCtrl.newJob.fnolDate" placeholder="FNOL Date">
                         <input class="form-control" ng-model="jCtrl.newJob.contactName" placeholder="Contact Name">
                         <input class="form-control" ng-model="jCtrl.newJob.phoneNumber" placeholder="Phone Number">
                         <input class="form-control" ng-model="jCtrl.newJob.localServpro" placeholder="Local Servpro Franchise Name">
                         <input class="form-control" ng-model="jCtrl.newJob.localSPInvolvement" placeholder="Local Servpro Franchise Involvement">
                         <input class="form-control" ng-model="jCtrl.newJob.phoneNumber" placeholder="Phone Number">




                     </div>
                     <div class="modal-footer">
                         <p class="warning-text">{{jCtrl.jobFormErrMessage}}</p>
                         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                         <button type="submit" class="btn btn-primary">Add this Job</button>
                     </div>
                 </form>
             </div>
         </div>
     </div>

  <div class="card" ng-repeat="job in jCtrl.jobs">

    <ul>
      <!-- <li><img class="img-fluid" src="{{ job.img }}"></li> -->

      <li><a href="/#/jobDetails"><img ng-click="jCtrl.setActiveJob($index)" ng-src="{{ job.img }}" alt="Card image cap"></a><h3>{{ job.name }}</h3></li>
        <!-- <span class="row"> -->
          <li><div>{{ job.city }}, {{ job.state }}</div></li>
        <!-- </span> -->
        <span class="row">
          <li><div>Margin</div><h2 style="color:rgb(0,{{job.margin}},0)" id="margin">{{ job.margin }}%</h2></li>
          <li><div>Complete</div><h2 style="color:rgb(0,{{job.complete}},0)" id="complete">{{ job.complete }}%</h2></li>
        </span>
    </ul>
  </div>


</div>
