.jumbotron {
    max-width: auto;
    background:url("topo-co.jpg");
    background-size: cover;
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
}

.markerArea {
    position: relative;
    display: block;
    height:100%;
}

.marker {
    width: 30px;
    height: 30px;
    background-color: rgba(255,215,0, 0.5);
    position: absolute;
    border-radius: 100%;
    border: 5px solid black;
    background-size: cover;
    padding-top:10px;

}

