<!DOCTYPE html>

<html ng-app="SuperHeros">
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
        <script src="avengers.js"></script>
    </head>
    <body>
        <div ng-controller="TheAvengers as avengers">
            <h1>{{ avengers.title }}</h1>
            <input type="text" ng-model="avengers.newAvenger" placeholder="Add your hero!"/>
            <button ng-click="avengers.addNewHero()">Add</button>
            <ol>
                <li ng-repeat="avenger in avengers.heroes">{{ avenger }}</li>
                <!-- <li>{{ avengers.newAvenger }}</li> -->
            </ol>
        </div>
    </body>
</html>